/* body {
    opacity: 1;
    background-image: url('/img/background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
} */
.cakes-page{
  opacity: 5;
  background-image: url('/img/background-img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.demo-wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 50%;
    background-image: url('/img/background-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #menu-span {
    padding-right: 7px;
    color: #64FFDA;
  }


  /* body css style */

body {
    /* background-color: #0A192F; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
}


/* Responsive CSS */
@media screen and (max-width: 990px) {
    #para-pad {
        margin-left: -100px;
    }
  }

  .ml-auto {
    left: auto !important;
    right: 0px;
  }
  
  #para-pad {
    padding-left: 100px; text-align: justify; color: aliceblue;
  }

  #menu-name {
    color: black;
  }

  #menu-span {
    padding-right: 7px;
    color: #64FFDA;
  }

   #navbarSupportedContent
{
   font-size: 20px;
}

.navbar-brand {
    color: rgb(204, 214, 246);
}


/* Hover part */
.navbar-brand:hover {
    color: #64FFDA;
}

.navbar-brand img {
    border-radius: 40px;
}

#name-02 {
  color: #CCD6f6;
  font-size: 80px;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

.name-01 {
  color: #64FFDA;
}


/* Responsive CSS */
@media screen and (max-width: 800px) {
  .name-01 {
      font-size: 20px;
  }
  #name-02{
      font-size: 50px;
  }
}


#title-id {
  /* margin-left: 50px; */
  font-size: 30px;
  /* margin-bottom: -10px; */
  margin-top: -10px;
  color: black;
  font-weight: bolder;
  text-align: center;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

.banner-container{

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(32rem, 1fr));

  gap:1.5rem;

}



.banner-container .banner{

  position: relative;

  height: 20rem;

  overflow: hidden;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);

  border:0.1rem solid rgba(0,0,0,0.7);

}



.banner-container .banner img{

  height:100%;

  width: 100%;

  object-fit: cover;

}



.banner-container .banner .content{

  position: absolute;

  top: 50%;

  left: 2rem;

  transform: translateY(-50%);

}



.banner-container .banner .content span{

  color: #fff;

  font-size:1.5rem;

}



.banner-container .banner .content h3{

  font-size:2rem;

  padding-top:.5rem;

  color: #fff;

}



.banner-container .banner .content .btn{

  padding: .8rem 2.5rem;

}



.banner-container .banner:hover img{

  transform:scale(1.2);

}



.category .box-container{

  display:grid;

  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));

  gap:1.5rem;

  padding:4rem 0;

}



.category .box-container .box{

  text-align:center;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);

  border:0.1rem solid rgba(0,0,0,0.7);

}



.category .box-container .box img{

  height:15rem;

  width:15rem;

}



.category .box-container .box h3{

  font-size: 2rem;

  margin: 1rem 0;

  color: #222;

}



.category .box-container .box:hover h3{

  color: #fff;

}



.products .box-container {

  display: -ms-grid;

  display: grid;

  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

  gap: 1.5rem;

}



.products .box-container .box {

  position: relative;

  background: #f3f3f3;

  text-align: center;

  overflow: hidden;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.7);

  border:0.1rem solid rgba(0,0,0,0.7);

}



.products .box-container .box:hover  .icons{

  top: 0;

}



.products .box-container .box .icons {

  position: absolute;

  top: -105%;

  left: 0;

  height: 30rem;

  width: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  align-items: center;

  justify-content: center;

  background: rgba(243, 243, 243, 0.8);

  gap: 1rem;

}



.products .box-container .box .icons a {

  font-size: 2rem;

  height: 5rem;

  width: 5rem;

  line-height: 5rem;

  background: #fff;

  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);

  color: #666;

}



.products .box-container .box .icons a:hover{

  background: var(--brown);

  color:#fff;

}  



.products .box-container .box .img {

  height:22rem;

  width:25rem;

  overflow: hidden;

}



.products .box-container .box .img img {

  height:100%;

  width:100%;

  object-fit: cover;

}



.products .box-container .box .content {

  padding: 1.5rem;

}



.products .box-container .box .content h3 {

  font-size: 2rem;

  color: #222;

}



.products .box-container .box .content .price {

  font-size: 2rem;

  color: #222;

  padding: 1rem 0;

}



.products .box-container .box .content .stars i {

  font-size: 1.7rem;

  color: var(--brown);

}
heading{

  background: url("img\cake-hero-banner-desk.webp") no-repeat;

  background-size:cover;

  background-position: center;

  text-align: center;

  padding-top: 12rem;

  padding-bottom: 8rem;

  border-bottom: 0.1rem solid rgba(0,0,0,0.7);

}
.heading h1{

  color: #fff;

  font-size:4rem;

 

}
