/* body {
    opacity: 1;
    background-image: url('/img/background-img.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
} */

.demo-wrap:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 50%;
    background-image: url('/img/background-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  #menu-span {
    padding-right: 7px;
    color: #64FFDA;
  }


  /* body css style */

body {
    /* background-color: #0A192F; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif */
    font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", "Lucida Console", Monaco, monospace;
}


/* Responsive CSS */
@media screen and (max-width: 990px) {
    #para-pad {
        margin-left: -100px;
    }
  }

  .ml-auto {
    left: auto !important;
    right: 0px;
  }
  
  #para-pad {
    padding-left: 100px; text-align: justify; color: aliceblue;
  }

  #menu-name {
    color: black;
  }

  #menu-span {
    padding-right: 7px;
    color: #64FFDA;
  }

   #navbarSupportedContent
{
   font-size: 20px;
}

.navbar-brand {
    color: rgb(204, 214, 246);
}


/* Hover part */
.navbar-brand:hover {
    color: #64FFDA;
}

.navbar-brand img {
    border-radius: 40px;
}

#name-02 {
  color: #CCD6f6;
  font-size: 80px;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

.name-01 {
  color: #64FFDA;
}


/* Responsive CSS */
@media screen and (max-width: 800px) {
  .name-01 {
      font-size: 20px;
  }
  #name-02{
      font-size: 50px;
  }
}


#title-id {
  /* margin-left: 50px; */
  font-size: 30px;
  /* margin-bottom: -10px; */
  margin-top: -10px;
  color: black;
  font-weight: bolder;
  text-align: center;
  font-family: Calibre, "San Francisco", "SF Pro Text", -apple-system, system-ui, BlinkMacSystemFont, Roboto, "Helvetica Neue", "Segoe UI", Arial, sans-serif;
}

#btn-hover {
  color: black;
}

#btn-hover:hover{
    
    background-color: #6879FC;
    color: white;
    width: max-content;
    border-radius: 5px;
}


/* media queries please dont touch this and dont change */
@media screen and (min-width: 900px) {
  .carousel-inner{
    height: 400px;
  }
 
  #back-img-1 {
    width: fit-content; 
    margin-top: 30px;
    /* margin-bottom: 20px; */
    padding-left: 100px;
    padding-right: 100px;
    
  }
}


#media-query-buy-btn{
  font-size: 25px;
  margin-bottom: 150px;
}

.buy-now-btn {
  /* margin-left: 200px; */
  display: inline-block;
  width: 200px;
  height: 60px;
  font-weight: bolder;
  border: none;
  border-radius: 10px;
  color: white;
  background-color: #DC3545;
}

@media screen and (min-width: 900px) {
  #media-query-buy-btn{
    margin-left: 20px;
  }
  .buy-now-btn{
    margin-inline-start: 40px;
    margin-top: 60px;
  }

  #cupcake-h5{
    margin-top: -50px; 
    font-size: 45px; 
    color: #000000;
    font-weight: bold;
  }
  #cupcake-p-1{
    font-size: 30px; 
    color: darkslategrey;
  }

  #cupcake-h5-2{
    margin-top: -50px; 
    font-size: 45px; 
    color: white;
    font-weight: bold;
  }
  #cupcake-p-2{
    font-size: 30px; 
    /* margin-bottom: -350px; */
    color: whitesmoke;
  }

  #media-query-buy-btn-4{
    font-size: 25px;
    margin-bottom: 40px;
  }

  .buy-now-btn-2{
    margin-inline-start: 100px;
    display: inline-block;
    width: 200px;
    height: 60px;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #DC3545;
  }

  #cupcake-h5-3{
    margin-top: -50px; 
    font-size: 45px; 
    color: #000000;
    font-weight: bold;
  }
  #cupcake-p-3{
    font-size: 30px; 
    /* margin-bottom: -350px; */
    color: darkslategrey;
  }

  .buy-now-btn-3{
    margin-inline-start: 140px;
    margin-top: 170px;
    display: inline-block;
    width: 200px;
    height: 60px;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #DC3545;
  }
  #inner-div-3{
    margin-bottom: 130px;
  }
  #big-screen-id-1{
    margin-left: 110px;
  }
  #border-to-carousel-items{
    border-radius: 5px;
  }

}

@media screen and (max-width: 400px) {
  .carousel-inner{
    border: 10px black;
    height: 300px;
  }
  #media-query-buy-btn{
    display: inline-block;
  }
  #cupcake-h5{
    margin-bottom: 20px; 
    font-size: 30px; 
    color: #000000;
    font-weight: bold;
  }
  #cupcake-p-1{
    font-size: 20px; color: darkslategrey;
  }
  #cupcake-h5-2{
    margin-bottom: 20px;
    /* margin-top: 30px;  */
    font-size: 30px; 
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    border-radius: 10px;
    font-weight: bold;
  }

  #media-query-buy-btn-4{
    display: inline-block;
    margin-bottom: 110px;
  }

  #cupcake-p-2{
    font-size: 20px; color: whitesmoke;
    /* margin-bottom: 150px; */
    font-weight: 900;
  }

  .buy-now-btn-2{
    display: inline-block;
    font-size: 25px;
    width: 200px;
    height: 60px;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #DC3545;
  }

  #cupcake-h5-3{
    margin-bottom: 10px; 
    font-size: 30px; 
    color: #000000;
    font-weight: bold;
    margin-top: 20px;
  }

  #cupcake-p-3{
    font-size: 20px; 
    color: white;
    margin-top: 10px;
  }

  .buy-now-btn-3{
    display: inline-block;
    font-size: 25px;
    width: 200px;
    height: 60px;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #DC3545;
  }
  
}
